
{%- liquid
    assign blockid = block.id

    assign scaled_font_size = block.settings.font_size | times: 0.95 | round
    assign subtitle_scaled_font_size = block.settings.subtitle_font_size | times: 0.95 | round

    assign background_color = block.settings.background_color

    assign json_data = shop.metafields.flexi.flexistyling.value
    assign borderRadius = json_data.borderRadius
    assign borderThickness = json_data.borderThickness

    if json_data == blank
      assign borderRadius = 8
      assign borderThickness = 0
    endif

    
    if section.index <= 3
        assign loading_strategy = 'eager'
        assign fetch_priority = 'high'
      else
        assign loading_strategy = 'lazy'
        assign fetch_priority = 'auto'
      endif
-%}

{% style %}

.flexi-column-block-{{ blockid }} {
    width: 100%;
    height: 100%;
} 

.flexi-card-wrapper--{{ blockid }} {
    width: 100%;
    height: 100%;
}

.flexi-text,
.flexi-text p {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: none;
    text-decoration: none;
    text-align: inherit;
}

.top-content {
    {% if block.settings.center_title %}
        text-align: center;
    {% endif %}
}

.column-item-{{ blockid }} {
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: {{ block.settings.text_align }};
    border-radius: {{ borderRadius }}px;
    height: 100%;
}

.title-{{ blockid }} {
    color: {{ block.settings.title_font_color }};
    font-size: {{ block.settings.font_size }}px;
}

@media only screen and (max-width: 768px) {
    .title-{{ blockid }} {
        font-size: {{ scaled_font_size }}px;
    }
}

.subtitle-{{ blockid }} {
    color: {{ block.settings.subtitle_font_color }};
    font-size: {{ block.settings.subtitle_font_size }}px;
}

@media only screen and (max-width: 768px) {
    .subtitle-{{ blockid }} {
        font-size: {{ subtitle_scaled_font_size }}px;
    }
}

/* BOTTOM CONTENT */
.bottom-content {
    display: flex;
    flex-direction: column;
    gap: .5em;
    border-radius: {{ block.settings.border_radius }}px;
    {% if background_color != blank and background_color != 'rgba(0,0,0,0)' %}
        background-color: {{ background_color }};
        padding: 16px;
    {% endif %}
}

.description-{{ blockid }},
.description-{{ blockid }} p,
.description-{{ blockid }} h1,
.description-{{ blockid }} h2,
.description-{{ blockid }} h3,
.description-{{ blockid }} h4,
.description-{{ blockid }} h5,
.description-{{ blockid }} h6,
.description-{{ blockid }} li {
    color: {{ block.settings.font_color }};
    font-size: {{ block.settings.description_font_size }}px;
    line-height: 1.3em;
}

{% endstyle %}



<div 
    class="flexi-column-block-{{ blockid }}"
  >
    <div class="flexi-card-wrapper--{{ blockid }}">
        <div class="column-item-{{ blockid }}">

            <div class="top-content">
                {% if block.settings.title %}
                    <h4 class="title-{{ blockid }} flexi-text">{{ block.settings.title }}</h4>
                {% endif %}
    
                {% if block.settings.subtitle %}
                    <h4 class="subtitle-{{ blockid }} flexi-text">{{ block.settings.subtitle }}</h4>
                {% endif %}
            </div>

            <div class="bottom-content">
                {% if block.settings.short_description %}
                    <span class="description-{{ blockid }} flexi-text">{{ block.settings.short_description }}</span>
                {% endif %}
                {% if block.settings.description_1 %}
                    <span class="description-{{ blockid }} flexi-text"><p>{{ block.settings.description_1 }}</p></span>
                {% endif %}
                {% if block.settings.description_2 %}
                    <span class="description-{{ blockid }} flexi-text"><p>{{ block.settings.description_2 }}</p></span>
                {% endif %}
                {% if block.settings.description_3 %}
                    <span class="description-{{ blockid }} flexi-text">
                        <p>{{ block.settings.description_3 }}</p>
                    </span>
                {% endif %}
                {% if block.settings.code != blank %}
                    <span class="description-{{ blockid }} flexi-text" style="color: {{ block.settings.code_color }};">{{ block.settings.code }}</span>
                {% endif %}
            </div>

        </div>
    </div>
</div>